backend/venv/
backend/__pycache__/
backend/**/__pycache__/
backend/*.db
backend/.env

backend/uploads/*
!backend/uploads/.gitkeep

backend/indexes/*
!backend/indexes/.gitkeep

frontend/node_modules/
frontend/dist/

*.pyc